<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    
    <!-- About Title -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    
    <!-- Mission Section -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Mission</h3>
      </div>
      <div class="col-lg-4 col-lg-offset-2">
        <ul class="custom-bullet">
          <li>Informing people about environmental issues.</li>
          <li>Raising awareness about environmental issues.</li>
          <li>Finding out solutions.</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul class="custom-bullet">
          <li>Encouraging people to take action.</li>
          <li>Creating a community which will work towards solutions of problems.</li>
        </ul>
      </div>
    </div>
    
    <!-- Vision Section -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Vision</h3>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Your vision statement here.</p>
      </div>
    </div>
    
    <!-- Goals Section -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Goals</h3>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Informing people about environmental issues.</p>
        <p>Raising awareness about environmental issues.</p>
        <p>Finding out solutions.</p>
        <p>Encouraging people to take action.</p>
        <p>Creating a community which will work towards solutions of problems.</p>
      </div>
    </div>
    
    <!-- Values Section -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Values</h3>
      </div>
      <div class="col-lg-4 col-lg-offset-2">
        <ul class="custom-bullet">
          <li>Respect for nature.</li>
          <li>Responsibility for our actions.</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul class="custom-bullet">
          <li>Saving our future.</li>
        </ul>
      </div>
    </div>
    
  </div>
</section>
